.ProjectContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  justify-items: center;
  max-width: 1500px;
  padding-bottom: 50px;
}

@media (max-width: 1110px) {
  .ProjectContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

h1 {
  text-align: center;
}
